* {
    margin: 0;
    padding: 0;
}
.header-section .navbar{
    background-color: #1b2c39;
}

 /* .header-section .navbar{
    background: transparent;
    position: fixed;
    width: 100%;
    z-index: 999999;
 } */

/*---------- baner-section start-------- */
.baner-section img {
    height: 700px;
}

.baner-section .hedding{
    width: 700px;
    margin-left: 300px;
    text-align: center;
    color: rgb(255, 253, 253);
   
}
.baner-section .hedding .btn{
    border: 1px solid blue;
    transition: 0.5s;
}
.baner-section .hedding .btn:hover{
    transition: 0.5s;
    background-color: #dd6031;
}

/*---------- Baner section end-------- */

/* --------About us section start------------ */

.About-us-section {
    padding: 98px 0;
 }
 .About-us-section a{
    border: 2px solid #cbb58b;
    color: #cbb58b;
    transition: 0.5s ;
}

 .About-us-section a:hover{
    transition: 0.5s;
    background-color: #cbb58b;
    color: white;
 }
/* --------About us section end------------ */

 /*--------- Our student says start --------*/
 .our-student-says{
 background-color: #f2f2f2;
 padding: 98px 0;
 }

 .our-student-says img{
    margin-left: 46%;
    border-radius: 50%;
 }
 .our-student-says i{
    margin-left: 46%;
    color: #cbb58b;
    font-size: 30px;
    border: 1px solid #cbb58b;
    padding: 15px;
    border-radius: 50%;

 }
  /*---------- Our student says end-------------- */

 /* ----------Our Teachers section start-------- */

    .our-teachers-section .container .social-icon {
    position: absolute;
    right: 0;
    top: 0;
    background: #fff;
    bottom: 0;
    width: 50px;
    border-left: 1px solid #ececec;
 }
 
 .our-teachers-section .container .social-icon i{
    padding: 23px;
    border: 1px solid silver;
    color: #1b2c39;
    transition: 0.5s
 }
 .our-teachers-section .container .social-icon i:hover{
    transition: 0.5s;
    background-color: #cbb58b;
 }
 .our-teachers-section .container .social-icon a{
    text-decoration: none;
 }
    /* ----------Our Teachers section end----------- */
 

/* ----------- --footer section start------------- -- */
.footer-section{
    background-color: #1b2c39;
 }
 .footer-section h1{
   color: #dd6031;
 }
 .footer-section .container .row ul{
   list-style: none;
   
 }
 .footer-section .container .row ul a{
   text-decoration: none;
   color: gray;
   
 }
 .footer-section .container .row ul i{
   line-height: 10px;
 }


 /* ------------footer section end-----------*/

 /* ----------footer end section start---------*/
 
 .footer-end {
   height: 40px;
   background-color: #1b2c39;
   border: 1px solid white;
 }
 .footer-end .container .col i{
  padding: 10px;
  color: white;
  }
/* ----------footer end section end---------*/

@media (max-width: 320px){
   .baner-section{
       height: 50vh !important;
 
 
   }
   .baner-section img{
       height: 50vh !important;
       object-fit: cover;
 
 
   }
   .map-section{
       height: 50vh !important;
   }
   .map-section img{
       height: 50vh !important;
       object-fit: cover;
   }
 }
 @media (min-width: 320px) and (max-width:480px){
   .baner-section{
       height: 50vh !important;
 
 
   }
   .baner-section img{
       height: 50vh !important;
       object-fit: cover;
 
 
   }
   .map-section{
       height: 50vh !important;
   }
   .map-section img{
       height: 50vh !important;
       object-fit: cover;
   }
 
 }
 @media (min-width: 480px) and (max-width:576px){
   .baner-section{
      height: 50vh !important;


  }
  .baner-section img{
      height: 50vh !important;
      object-fit: cover;


  }
  .map-section{
      height: 50vh !important;
  }
  .map-section img{
      height: 50vh !important;
      object-fit: cover;
  }


 }
 @media (min-width: 768px) and (max-width:991px){
   .baner-section{
       height: 100vh !important;
 
 
   }
   .baner-section img{
       height: 100vh !important;
       object-fit: cover;
 
 
   }
   .map-section{
       height: 100vh !important;
   }
   .map-section img{
       height:100vh !important;
       object-fit: cover;
   }
 
 
 }
 
 